/* CSS file */
Application {
   
  
   
   color: #333333;
}

Panel {
   borderColor: #ffffff;
   borderAlpha: 0.15;
   roundedBottomCorners: true;
   cornerRadius: 6;
   shadowDistance: 4;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   letterSpacing: 1;
   fontSize: 14;
   fontWeight: bold;
}

TextInput {
   borderStyle: solid;
   borderColor: #666666;
   cornerRadius: 10;
   backgroundAlpha: 0.75;
   backgroundColor: #666666;
   color: #ffffff;
   letterSpacing: 1;
   paddingLeft: 6;
   paddingRight: 0;
   fontFamily: Arial;
   fontSize: 11;
   dropShadowEnabled: true;
   shadowDistance: 2;
}


ProgressBar {
   borderColor: #2b333c;
   barColor: #009dff;
   trackColors: #666666, #ffffff;
   color: #333333;
   paddingLeft: 30;
   paddingRight: 30;
   textIndent: 0;
   letterSpacing: 1;
   trackHeight: 10;
   verticalGap: 5;
}

ComboBox {
   cornerRadius: 10;
   color: #0b333c;
   borderColor: #b7babc;
   iconColor: #111111;
   highlightAlphas: 1, 0.16;
   fillColors: #666666, #999999, #333333, #999999;
   arrowButtonWidth: 0;
   backgroundAlpha: 1;
   selectionColor: #999999;
   textSelectedColor: #0b333c;
   useRollOver: true;
   rollOverColor: #aadeff;
   textRollOverColor: #0b333c;
   themeColor: #009dff;
   alternatingItemColors: #ffffff, #ffffff;
   openDuration: 589;
   closeDuration: 584;
   textAlign: left;
}

DataGrid {
   backgroundColor: #ffffff;
   headerColors: #999999, #333333;
   horizontalGridLines: false;
   verticalGridLines: true;
   verticalGridLineColor: #666666;
   rollOverColor: #cccccc;
   borderThickness: 0;
   selectionColor: #999999;
   textIndent: 0;
   dropShadowEnabled: false;
   headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {
   color: #ffffff;
   letterSpacing: 1;
   textAlign: left;
}
